#mainPageH2 {
  color: rgb(201, 87, 12);
  -webkit-text-stroke: .1px rgba(58, 58, 58, 0.384);
}

h5 {
  color: rgb(97, 96, 96);
}

.fav-food-img-container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-image: url(../images/headerpic.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.about-container {
  text-align: center;
  padding: 20px 200px;
  background-color: white;
}

#critics {
  width: 100%
}

.reservePage-button:hover {
  box-shadow: 0 12px 16px 0 rgba(105, 105, 105, 0.349), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.special-events-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #FABC60;
}

.tailgate {
  width: 50%;
}

.fans-img {
  width: 100%;
  height: 100%;
}

.special-events-summary {
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 10%;
}

#menu-title {
  color: white;
  -webkit-text-stroke: .5px rgb(201, 87, 12);
}

.food-category {
  list-style: none;
  padding: 15px;
}
.food-category-list {
  display: flex;
  justify-content: center;
}

.reservePage-button,
.food-category-link {
  width: 100px;
  background-color: rgba(255, 153, 0, 0.952);
  border: none;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.food-category-link:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 252, 252, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
.menu-container {
  background-image: url(../images/mainPage-menu-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.catering-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #FABC60;

}
.catering-img-container {
  width: 50%;
}
.catering-img {
  width: 100%;
  height: 100%;
}
.catering-summary {
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 10%;
}

.burger-explode-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
}

.explodeVideo-container {
  width: 50%;
  align-self: center;
}

.explodeVideo {
  width: 100%;
  height: 100%;
  justify-content: center;

}

.explode-text {
  align-self: center;
  text-align: center;
  color: white;
  padding-top: 3%;
}

#mindBlown {
 font-size: 35px;
 -webkit-text-stroke: .5px rgb(201, 87, 12);

}

@media all and (max-width: 900px) {
  .about-container {
    padding: 5px;
    font-size: 14px;
  }
  .fav-food-img-container {
    background-image: url(../images/responsiveHeaderpic.jpg);
  }

  .catering-container,
  .special-events-container {
    flex-direction: column;
  }

  .catering-img-container,
  .tailgate {
    width: 100%;
  }

  .catering-summary,
  .special-events-summary {
    width: 100%;
  }

  .menu-container {
    background-image: url(../images/responsive-menu-background.jpeg);
  }
  
  .food-category-link {
    width: 90px;
  }
}