h2,h3 {
  text-align: center;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  height: auto;
  width: 100%;
  margin-top: -30px;
}

/* Add some content at the bottom of the video/page */
.container {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.menu-container {
  text-align: center;
  color: #fff;
  padding: 20px 0;
  margin-top: -8px;
  background-color: rgba(7, 22, 109, 0.411);
  background-image: url('./../images/dust_scratches.png');
}
#menu-title {
  color: white;
  -webkit-text-stroke: .5px rgb(201, 87, 12);
}

.food-category-list {
  display: flex;
  justify-content: center;
}
.food-category {
  background-color: rgba(255, 153, 0, 0.952);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px;
  font-family: 'Special Elite', cursive;
  }
  
  .food-category-link:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 252, 252, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.404);
  }

.food-category:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 252, 252, 0.24), 0 17px 50px 0 rgba(44, 9, 9, 0.19);
}

.menu-items-container {
  color: rgb(216, 145, 87);
  background-image: url('./../images/dust_scratches.png');
  background-blend-mode: multiply;
  background-size: contain;
  padding: 20px;
  /* background-color: rgba(49, 49, 49, 0.5); */
}
.menu-item-subcategories-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu-item-subcategory-wrapper{
  padding: 20px;
  user-select: none;
}
.menu-item {
  padding: 20px;
}
.menu-item-details-wrapper {
  display: flex;
  justify-content: space-between;
}
.menu-item-description {
  width: 60%;
}
.menu-item-add-to-cart {
  height: 25px;
  display: block;
  text-align: center;
  color: rgb(255, 221, 189);
  background-color: #353535;
  padding: 0 20px;
  box-shadow: 0 0 0 1px ;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s ease-in;
}

.menu-item-add-to-cart:hover {
  box-shadow: 0 0 0 3px rgb(255, 221, 189);
}

.menu-item-add-to-cart:focus {
  outline: none;
  transform: scale(1.05);
}

@media all and (max-width: 1000px) {
  .menu-items-container {
    padding: 20px 0;
  }
}

@media all and (max-width: 800px) {
  .nav-bar {
    opacity: .4;
  }
  .dropbtn {
    display: none;
  }
  /* #icon {
    opacity: 1;
    display: contents;
} */
  .menu-item-subcategories-wrapper {
    grid-template-columns: 1fr;
  }

  .food-category {
    padding: 8px 8px;
    font-size: 16px;
    margin: 0 10px;
  }
  .menu-item-add-to-cart {
    padding: 0 10px;
  }
  .menu-item {
    padding: 10px;
  }
}
