* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: rgb(201, 87, 12);
}

#icon {
    display: none;
}

h2{
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-stroke: .1px black;

}

p,
li {
  font-family: 'Special Elite', cursive;
}

body {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 1.5;
}

.cover {
  width: 100vh;
  height: 100vh;
  color: #311204;
  z-index: 2;
}

.list-style-none{
  list-style: none;
}

.text-deco-none {
  text-decoration: none;
}

.nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fadfd0;
  opacity: .7;
  transition: opacity .5s ease-in;
  z-index: 1;
}

.nav-bar:hover {
  opacity: .9;
}

.logo {
  color: #311204;
  text-align: center;
  padding: 20px 0 10px;
  user-select: none;
}

.nav-items {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0 10px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #311204;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid #fadfd0;
  transition: all .5s ease-in;
}

.nav-link:hover {
  color: #6b2f15;
  border-bottom: 1px solid #68280c;
}

.input-text {
  border: none;
  text-align: center;
  background-color: inherit;
}

.reservation-update-btn {
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  margin: 10px 0;
  background-color: #f1f1f1;
}

@media all and (max-width: 900px) {
  .nav-bar {
    position: static;
  }
  .logo {
    padding: 10px 0 5px;
    user-select: none;
  }

  .nav-items {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 0 5px;
  }

  .nav-item {
    list-style: none;
  }

  .nav-link {
    color: #311204;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid #fadfd0;
    transition: all .5s ease-in;
  }

  .nav-link:hover {
    color: #6b2f15;
    border-bottom: 1px solid #68280c;
  }

  .input-text {
    border: none;
    text-align: center;
    background-color: inherit;
  }

  .reservation-update-btn {
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    margin: 10px 0;
    background-color: #f1f1f1;
  }
  #icon {
    display: contents;
  }
  .dropbtn {
    border: none;
    cursor: pointer;
  }
  .nav-bar {
    display: inline-block;
    z-index: 1;
  }
  .nav-bar:hover {
    opacity: 1;
  }
  .nav-items {
    display: none;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .nav-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 48px;
  }
  
  .nav-items a:hover {
      background-color: #f1f1f1;
    }
  
  .nav-bar:hover .nav-items {
    display: block;
  }
}
