.nav-bar {
  opacity: .8;
}
.reservation-background-container {
  min-height: 712px;
  height: auto;
  width: 100vw;
  background-position: center;
  background-image: url(../images/reservationPageBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(46, 46, 46, 0.4);
  padding-top: 200px;
  padding-bottom: 50px;
}

.reserve-form-container {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.904);
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.invalid-text {
  height: 25px;
  width: 250px;
  color: rgb(250, 33, 33);
}

.input {
  font-size: inherit;
  border: none;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.material-icons {
  position: relative;
  top: 7px;
  padding-right: 10px;
}

::placeholder {
  color: rgb(127, 127, 131);
  font-family: 'Special Elite';
}

#reserve {
  text-align: center;
}
 
.submit-btn {
  display: block;
  font-family: 'Special Elite';
  font-size: inherit;
  margin: 10px auto;
  background-color: #e9f5ff;
  padding: 10px 20px;
  border-radius: 5px;
}

.search-reservation-form {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.905);
  margin: 20px auto;
  padding: 20px;
}

.search-reservation-form input{
  width: 400px;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #444444;
  margin: 10px 0;
}

.search-reservation-form input:focus{
  outline: none;
}

.search-result-wrapper {
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.905);
  margin: 0 auto 20px;
}

.search-btn {
  border: none !important;
  box-shadow: 0 0 3px rgba(46, 46, 46, 0.4)
}

.category-data-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.category-data-table-data {
  border: 1px solid #444444;
}


